#contact-form { background-color:#484948;
    width:465px;
     padding:20px;
   margin: 50px auto;
    border: 6px solid #8FB5C1;
   -moz-border-radius:15px;
    -webkit-border-radius:15px;
   border-radius:15px; 
   position:relative;
}
h1{
   font-size:42px;
   font-family: 'Times New Roman', Times, serif;
   text-align:  center;
   color: white;
   
   
}



  
#contact-form input, #contact-form select, #contact-form textarea, #contact-form label {
   font-size:15px;
    margin-bottom:2px;
    height: 5vh;
    
}
#contact-form input, #contact-form select, #contact-form textarea
{
   width:450px; 
   height: 1px solid #CEE1E8;
   margin-bottom:20px; 
   padding:4px;
   
}


#contact-form textarea:focus { 
   border: 1px solid #AFCDD8; 
   background-color: #EBF2F4;
   
   
}
   
#contact-form label {
    display:block;
    color:white
}
#contact-form .required { 
   -weight:bold; 
   color:white
}
#contact-form #submit-button-uno,#contact-form #submit-button-dos { 
   width: 49%;
   height: 10vh;
   color:#FFF;
   border:none; 
   display:flexbox;
   margin-bottom:0px;
   margin-right:0px;
   margin-left: 0px; 
    background-color:#15f594;
    border-radius: 5px;
  
}
#contact-form #submit-button-dos { 
 
     background-color:#717372;
    
 }
 

#contact-form #submit-button     {
   position:left; 
   top:1px;
   width: 100%;
   height: 10vh;
   color:white;
   font-size: 5vh;
   text-transform: uppercase; 
background-color: #15f594; 
border-radius: 5px;} 
   

